RewriteEngine On
RewriteBase /expense-tracker/

# Rewrite requests to login.php
RewriteRule ^login$ actions/login.php [L]

# Rewrite requests to register.php
RewriteRule ^register$ actions/register.php [L]

# Rewrite requests to add_expense.php
RewriteRule ^add_expense$ actions/add_expense.php [L]

# Rewrite requests to get_expenses.php
RewriteRule ^get_expenses$ actions/get_expenses.php [L]

# Rewrite requests to get_expenses.php
RewriteRule ^delete_expense$ actions/delete_expense.php [L]

# Rewrite requests to get_expenses.php
RewriteRule ^edit_expense$ actions/edit_expense.php [L]

# Rewrite requests to get_expenses.php
RewriteRule ^add-balance$ actions/add-balance.php [L]

# Rewrite requests to get_expenses.php
RewriteRule ^add-income$ actions/add-income.php [L]
